# Relative code path
APP_DIR=.

PHP_VERSION=8.1

MARIADB_VERSION=10.5.19
MARIADB_ROOT_PASSWORD=1111
MARIADB_HOST=mariadb # Service name from docker-compose file
MARIADB_DATABASE=example_db
MARIADB_USERNAME=example_username
MARIADB_PASSWORD=example_password
MARIADB_CHARSET=utf8mb4

XDEBUG_HOST=host.docker.internal
FORWARD_XDEBUG_PORT=9003

# Available values: develop|coverage|debug etc...
# More info: https://xdebug.org/docs/all_settings#mode
XDEBUG_MODE=debug
XDEBUG_TRIGGER=yes

COMPOSE_PROJECT_NAME=modernpdo
