parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @param for parameter \\$name with type array is incompatible with native type string\\.$#"
			count: 3
			path: src/actions/Delete.php

		-
			message: "#^PHPDoc tag @param for parameter \\$name with type array is incompatible with native type string\\.$#"
			count: 3
			path: src/actions/Select.php

		-
			message: "#^PHPDoc tag @param for parameter \\$name with type array is incompatible with native type string\\.$#"
			count: 3
			path: src/actions/Update.php
